body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #000000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  /* border-radius: 1rem; */
 }

.gambar {
  width: 100%;
  height: 100%;
  background: #ffffff;
  background-size: 100% 100%;
  line-height: 1.33;
}

.li {
  background-color: #333333;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.card {
background-color: #e9d362;
margin-bottom: 10px;
 }  
